{% extends 'base.html' %}

{% block title %}
   Receipts
{% endblock title %}

{% block content %}
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for number in category_list %}
                <tr>
                <td>{{number.name}}</td>
                <td>{{number.receipts.all|length }}</td>
               </tr>
               {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
